@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body{
    background-color: rgb(121, 59, 89);
    align-content: center;
    padding-left: 70vh;
     font-family: 'Roboto', sans-serif;
}
.conteiner{
    background-color: aliceblue;
    width: 240px;
    height: 270px;
    align-items: center;
    padding: 40px;
    border-radius: 30px;
     box-shadow: 10px 10px 5px rgb(32, 77, 74);  

}